
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

/*@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}*/

body {
	margin: 0;
	padding: 0;
	background: #F7F7F7 url(images/img01.png) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
    -webkit-text-size-adjust: none;
}


table.SchTable
{
    border: 2px solid black;
    border-collapse: collapse;
}
table.SchTable tr
{
    border: 1px solid black;
}
table.SchTable td
{
    border: 1px solid black;
    border-collapse: collapse;
}
table.SchTable th
{
    border: 1px solid black;
    border-collapse: collapse;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 160%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #BC1B32;
}

a:hover {
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}


hr.style1{
	border-top: 1px solid #8c8b8b;
}

hr.style2 {
	border-top: 1px dashed #8c8b8b;
}

/* Header */

#header {
	width: 940px;
	height: 102px;
	margin: 0 auto;
}

.sticky_header {
    position: sticky;
    top: 0;
    background: #F7F7F7 url(images/img01.jpg) repeat-x left top;
    z-index = 10: 
}


/* Logo */

#logo {
	float: left;
	margin: 0;
	padding-top: 30px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
/*	text-transform: lowercase;*/
	font-size: 3.2em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 22px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	/* font-style: italic; */
	/* margin-top: -16px; */
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

#logo2 {
	float: right;
	margin: 0;
	padding-top: 17px;
	color: #000000;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
	background: #E2E2E2;
	border-bottom: 4px solid #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu {
	width: 940px;
	height: 36px;
	margin: 0 auto;
	padding: 0;
	background: #000000;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 117.5px;
	height: 28px;
	background: #000000;
	padding-top: 8px;
	border-right: 1px solid #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #BC1B32;
	text-decoration: none;
}

#menu .current_page_item a {
	background: #BC1B32;
	padding-left: 0;
}

.sticky_menu {
  position: sticky;
  top: 0;
  z-index: 10; 
}


/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

#page-bgtop {
	padding: 20px px;
}

#page-bgbtm {
}

/* Content */

#content {
	float: left;
	width: 620px;
	padding: 0;
}

.post {
	margin-bottom: 15px;
	border-bottom: 1px solid #E2E2E2;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #000000;
	border: none;
}

.post .meta {
	width: 400px;
	padding: 5px 20px 5px 10px;
	background: #676767;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	color: #FFFFFF;
}

.post .meta a {
	color: #FFFFFF;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 940px;
	padding: 0px;
	color: #363636; /* Kevin: this is for font color */
	background: #FFFFFF;
}

#sidebar ul {
	margin: -3px;
    padding: 0;
	list-style: none;
}

#sidebar ol {
	margin: 0px 48px;
    padding: 0;
	padding-bottom: 6px;    
}

#sidebar li {
	margin: 0;
	padding: 0;
	border-left: 0px solid #E2E2E2;
}

#sidebar li ul {
	margin: 0px 0px;
    padding-top: -30px;
	padding-bottom: 30px;
	list-style: circle;    
}



#sidebar li li {
	line-height: 26px;
	border-bottom: 1px dashed #D1D1D1;
	margin: 0px 48px;
	border-left: none;
}



#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
    font-size: 12px;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #000000;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
    font-size: 1em;    
}

#sidebar a {
	border: none;
	/*color: #BC1B32;*/
}

#sidebar a:hover {
	text-decoration: underline;
	/* color: #8A8A8A; */
    /* color: #BC1B32 */
}

span {
    cursor: pointer;
    color: #BC1B32;
/*    line-height: 2.8em;*/
    position: relative; 
    top: 8px; 
    left: 33px;
}

ul li:nth-child(n+21) {
    display:none;
}


/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #ECECEC;
	border-top: 1px solid #DEDEDE;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #787878;
}

#footer a:hover {
	text-decoration: underline;
    color: #787878;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 0;    
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: white;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: -40px;
  width: 97%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}